body {
	margin: 0;
}

.nav {
	width: 100%;
	height: 150px;
	padding-left: 25px;
	padding-right: 25px;
	background: #cc0000;
}

.nav ul li {
	display: inline;
	list-style-type: none;
	font-size: 40px;
	border: 1px solid #ffcc00;
	box-shadow: 0 1px 8px 0 #3333ff2f, 0 1px 8px 0 #3333ff2f;
	color: #ffcc00;
	border-radius: 10px;
	padding: 5px;
	transition: all;
}

.nav ul li a {
	color: #ffcc00;
	text-decoration: none;
}

.nav ul li:hover,
.nav ul li a:hover {
	transition: all;
	cursor: pointer;
	box-shadow: 0 1px 20px 0 #3333ff2f, 0 1px 20px 0 #3333ff2f;
	border-color: #99ff00;
	color: #99ff00;
}

.cart-wrapper {
	cursor: pointer;
	position: relative;
}

.cart {
	position: absolute;
	width: 500px;
	min-height: 300px;
	top: 40px;
	right: 0;
	z-index: 999;
	display: none;
	color: #FFF;
}

.cart.active {
	display: block;
}

.swal2-actions button {
	margin-left: 10px;
	margin-right: 10px;
}

.customSwalBtn {
	background-color: rgb(55, 129, 35);
	border-left-color: rgb(55, 129, 35);
	border-right-color: rgb(55, 129, 35);;
	border: 0;
	border-radius: 3px;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	font-weight: 500;
	padding: 10px 32px;
}

.card:hover {
	border-color: rgb(0, 0, 0);
	box-shadow: 30px rgb(0, 0, 0);
}